
*.phtml linguist-language=PHP
*.php linguist-language=PHP
*.html linguist-vendored
*.js linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
vendor/**/* linguist-vendored
public/**/* linguist-vendored

*.php   text ident
*.phtml text ident
*.volt  text ident

